body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #0E0E0E;
    margin: 0;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    letter-spacing: -0.03em;
    font-size: 2.3em;
}

a:link {
    color: #62C09B;
}
a:visited {
    color: #62C09B;
}
a:hover {
    color: #62C09B;
    text-decoration: none;
}
a:active {
    color: #62C09B;
}

#fp-nav ul li .fp-tooltip {
    color: #62C09B;
}

#fp-nav ul li a span {
    background-color: #62C09B;
}

#header, #footer {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 9;
}

#header {
    top: 0;
    padding: 10px;
    font-size: 0.8em;
}

#header img {
    height: 32px;
}

#header ul {
    float: right;
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
}

#header ul li {
    display: inline;
    padding: 0 2px;
}

#footer {
    bottom: 0;
    height: 16px;
    padding: 5px;
    background-color: #FFFFFF;
}

#footer.transparent {
    background-color: transparent;
}

#footer div.copyright {
    text-align: center;
    font-size: 0.6em;
    padding-top: 2px;
}

#footer div.icons {
    float: right;
    width: 67px;
}

#footer div.spacer {
    float: left;
    width: 67px;
    height: 1px;
}

#footer div.icons img {
    width: 16px;
    height: 16px;
    padding: 0 5px;
}

#container {
    padding: 57px 1em;
    width: 50em;
    margin: 0 auto;
}

#container h1 {
    font-size: 2em;
}

div.hero div.logo {
    margin: 0 auto;
    width: 15em;
}

div.hero div.logo img {
    width: 15em;
    padding-bottom: 2em;
}

div.hero div.logo span {
    font-size: 1rem;
}

div.text-container {
    width: 40em;
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
}

div.text-container.dark {
    color: #F2F2F2;
}

.caveat {
    font-size: 0.6em;
    vertical-align: top;
}

div.post {
    border-bottom: 1px solid #E0E0E0;
}

p.post-meta {
    font-size: 0.9em;
    color: #999999;
}

a.post-link {
    text-decoration: none;
    color: #0E0E0E;
}

div.warning {
    border: 2px solid #F5D505;
    border-radius: 10px;
    padding: 5px;
    color: #968200;
    background-color: #FFEA65;
    text-align: center;
}
