<div id="footer">
    <div class="icons">
        <a href="https://github.com/intecture"><img src="{{ site.baseurl }}/img/github-icon.png" alt="GitHub"></a>
        <a href="https://twitter.com/intecture"><img src="{{ site.baseurl }}/img/twitter-icon.png" alt="Twitter"></a>
    </div>
    <div class="spacer"></div>
    <div class="copyright">
        Copyright<span class="caveat">&copy;</span> 2015-2016 Between Lines<span class="caveat">&reg;</span> Ltd.
        Intecture<span class="caveat">&reg;</span> is open source software licenced under the MPL2.
    </div>
</div>
